<img src='https://tradingcomdados.com/images/logotipo/logotipo-trading-com-dados.svg' width='300' align='left'/>

# **Utilizando yfinance para ações brasileiras**

A biblioteca possui basicamente três módulos:

* yf.Ticker
* yf.download
* yf.pandas_datareader

Quase todos os métodos estão no módulo yf.Tickers

O módulo **download** serve para baixar rapidamente os dados históricos de vários tickers de uma só vez.

# **Como baixar dados de ativos?**

In [1]:
import yfinance as yf

In [2]:
petro = yf.Ticker('PETR4.SA')

In [3]:
petro.ticker

'PETR4.SA'

In [4]:
petro.actions

                           Dividends  Stock Splits
Date
2005-04-01 00:00:00-03:00   0.133288           0.0
2005-07-01 00:00:00-03:00   0.250663           0.0
2005-09-01 00:00:00-03:00   0.000000           4.0
2006-01-02 00:00:00-02:00   0.259000           0.0
2006-04-04 00:00:00-03:00   0.132700           0.0
2006-11-01 00:00:00-03:00   0.500750           0.0
2007-01-02 00:00:00-02:00   0.225000           0.0
2007-04-03 00:00:00-03:00   0.175000           0.0
2007-08-20 00:00:00-03:00   0.251700           0.0
2007-10-08 00:00:00-03:00   0.256500           0.0
2008-01-14 00:00:00-02:00   0.155300           0.0
2008-04-07 00:00:00-03:00   0.102600           0.0
2008-04-28 00:00:00-03:00   0.000000           2.0
2008-12-29 00:00:00-02:00   0.042600           0.0
2009-04-09 00:00:00-03:00   0.351600           0.0
2009-07-06 00:00:00-03:00   0.300000           0.0
2009-10-01 00:00:00-03:00   0.200000           0.0
2009-12-21 00:00:00-02:00   0.200000           0.0
2010-04-23 00:00:00-03:00   0.133200           0.0
2010-05-24 00:00:00-03:00   0.170000           0.0
2010-08-02 00:00:00-03:00   0.170000           0.0
2010-11-03 00:00:00-02:00   0.140000           0.0
2010-12-22 00:00:00-02:00   0.200000           0.0
2011-03-22 00:00:00-03:00   0.173420           0.0
2011-04-29 00:00:00-03:00   0.126500           0.0
2011-05-12 00:00:00-03:00   0.213600           0.0
2011-08-03 00:00:00-03:00   0.207300           0.0
2011-11-14 00:00:00-02:00   0.200000           0.0
2012-01-03 00:00:00-02:00   0.177300           0.0
2012-03-20 00:00:00-03:00   0.124400           0.0
2012-05-14 00:00:00-03:00   0.200000           0.0
2013-04-30 00:00:00-03:00   0.386170           0.0
2014-04-03 00:00:00-03:00   0.967200           0.0
2018-05-22 00:00:00-03:00   0.050000           0.0
2018-08-14 00:00:00-03:00   0.050000           0.0
2018-11-22 00:00:00-02:00   0.100000           0.0
2018-12-26 00:00:00-02:00   0.716563           0.0
2019-04-26 00:00:00-03:00   0.019494           0.0
2019-05-22 00:00:00-03:00   0.100000           0.0
2019-08-13 00:00:00-03:00   0.200000           0.0
2019-11-12 00:00:00-03:00   0.200925           0.0
2019-12-27 00:00:00-03:00   0.421942           0.0
2020-07-23 00:00:00-03:00   0.000461           0.0
2021-04-15 00:00:00-03:00   0.792834           0.0
2021-08-17 00:00:00-03:00   1.609911           0.0
2021-12-02 00:00:00-03:00   3.250487           0.0
2022-04-14 00:00:00-03:00   2.970249           0.0
2022-05-24 00:00:00-03:00   3.715490           0.0
2022-08-12 00:00:00-03:00   6.667932           0.0
2022-11-22 00:00:00-03:00   1.748708           0.0
2023-04-28 00:00:00-03:00   2.930163           0.0
2023-06-13 00:00:00-03:00   1.893576           0.0
2023-08-22 00:00:00-03:00   1.149304           0.0
2023-11-22 00:00:00-03:00   1.355278           0.0

In [5]:
petro.dividends

Date
2005-04-01 00:00:00-03:00    0.133288
2005-07-01 00:00:00-03:00    0.250663
2006-01-02 00:00:00-02:00    0.259000
2006-04-04 00:00:00-03:00    0.132700
2006-11-01 00:00:00-03:00    0.500750
2007-01-02 00:00:00-02:00    0.225000
2007-04-03 00:00:00-03:00    0.175000
2007-08-20 00:00:00-03:00    0.251700
2007-10-08 00:00:00-03:00    0.256500
2008-01-14 00:00:00-02:00    0.155300
2008-04-07 00:00:00-03:00    0.102600
2008-12-29 00:00:00-02:00    0.042600
2009-04-09 00:00:00-03:00    0.351600
2009-07-06 00:00:00-03:00    0.300000
2009-10-01 00:00:00-03:00    0.200000
2009-12-21 00:00:00-02:00    0.200000
2010-04-23 00:00:00-03:00    0.133200
2010-05-24 00:00:00-03:00    0.170000
2010-08-02 00:00:00-03:00    0.170000
2010-11-03 00:00:00-02:00    0.140000
2010-12-22 00:00:00-02:00    0.200000
2011-03-22 00:00:00-03:00    0.173420
2011-04-29 00:00:00-03:00    0.126500
2011-05-12 00:00:00-03:00    0.213600
2011-08-03 00:00:00-03:00    0.207300
2011-11-14 00:00:00-02:00    0.200000
2012-01-03 00:00:00-02:00    0.177300
2012-03-20 00:00:00-03:00    0.124400
2012-05-14 00:00:00-03:00    0.200000
2013-04-30 00:00:00-03:00    0.386170
2014-04-03 00:00:00-03:00    0.967200
2018-05-22 00:00:00-03:00    0.050000
2018-08-14 00:00:00-03:00    0.050000
2018-11-22 00:00:00-02:00    0.100000
2018-12-26 00:00:00-02:00    0.716563
2019-04-26 00:00:00-03:00    0.019494
2019-05-22 00:00:00-03:00    0.100000
2019-08-13 00:00:00-03:00    0.200000
2019-11-12 00:00:00-03:00    0.200925
2019-12-27 00:00:00-03:00    0.421942
2020-07-23 00:00:00-03:00    0.000461
2021-04-15 00:00:00-03:00    0.792834
2021-08-17 00:00:00-03:00    1.609911
2021-12-02 00:00:00-03:00    3.250487
2022-04-14 00:00:00-03:00    2.970249
2022-05-24 00:00:00-03:00    3.715490
2022-08-12 00:00:00-03:00    6.667932
2022-11-22 00:00:00-03:00    1.748708
2023-04-28 00:00:00-03:00    2.930163
2023-06-13 00:00:00-03:00    1.893576
2023-08-22 00:00:00-03:00    1.149304
2023-11-22 00:00:00-03:00    1.355278
Name: Dividends, dtype: float64

In [6]:
petro.splits

Date
2005-09-01 00:00:00-03:00    4.0
2008-04-28 00:00:00-03:00    2.0
Name: Stock Splits, dtype: float64

# **Obtendo agora dados de cotação**

In [7]:
petro.history(start = '2023-01-23', end  = '2023-10-01', interval ='1m')

PETR4.SA: 1m data not available for startTime=1674442800 and endTime=1696129200. Only 7 days worth of 1m granularity data are allowed to be fetched per request.

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [8]:
petro.history(start = '2023-10-05', end  = '2023-10-09', interval ='1m')

PETR4.SA: 1m data not available for startTime=1696474800 and endTime=1696820400. The requested range must be within the last 30 days.

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [9]:
petro.history(start = '2023-10-05', end  = '2023-10-09', interval ='5m')

PETR4.SA: 5m data not available for startTime=1696474800 and endTime=1696820400. The requested range must be within the last 60 days.

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [10]:
petro.history(period = 'max', interval ='1wk')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-01-03 00:00:00-02:00,1.548670,1.548670,1.443229,1.449819,162252800000,0.0,0.0
2000-01-10 00:00:00-02:00,1.479607,1.479607,1.403689,1.423459,109893120000,0.0,0.0
2000-01-17 00:00:00-02:00,1.407115,1.413706,1.370738,1.370738,117163520000,0.0,0.0
2000-01-24 00:00:00-02:00,1.360985,1.377328,1.360985,1.367575,100577280000,0.0,0.0
2000-01-31 00:00:00-02:00,1.344641,1.473016,1.344641,1.473016,117360640000,0.0,0.0
...,...,...,...,...,...,...,...
2024-03-18 00:00:00-03:00,36.410000,37.060001,35.430000,36.049999,204531800,0.0,0.0
2024-03-25 00:00:00-03:00,36.180000,37.520000,36.119999,37.360001,103743200,0.0,0.0
2024-04-01 00:00:00-03:00,37.500000,39.480000,37.169998,38.099998,332101700,0.0,0.0
2024-04-08 00:00:00-03:00,38.029999,40.049999,37.730000,38.939999,202004000,0.0,0.0
2024-04-15 00:00:00-03:00,38.939999,41.070000,38.630001,40.529999,230842400,0.0,0.0

# **Extração de cotação multiticker**

In [11]:
yf.download("WEGE3.SA", start = '2023-01-01', end = '2023-10-01')

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-01-02  38.500000  38.500000  37.740002  38.099998  37.125935   3017700
2023-01-03  38.110001  38.369999  36.889999  37.150002  36.200218   5662900
2023-01-04  37.330002  37.689999  36.660000  37.400002  36.443829   6169800
2023-01-05  37.590000  37.900002  37.259998  37.480000  36.521786   6660600
2023-01-06  37.490002  38.270000  37.299999  38.029999  37.057724   4071700
...               ...        ...        ...        ...        ...       ...
2023-09-25  35.200001  36.400002  35.000000  36.130001  35.707294  12727400
2023-09-26  35.189999  36.220001  35.110001  36.080002  35.657883   9274100
2023-09-27  36.180000  36.720001  35.759998  36.020000  35.598579  10447500
2023-09-28  36.099998  36.570000  35.810001  36.389999  35.964252   5738900
2023-09-29  36.619999  36.709999  36.150002  36.270000  35.845654   5247900

[188 rows x 6 columns]

In [12]:
yf.download(["WEGE3.SA", "IVVB11.SA"], start = '2023-01-01', end = '2023-10-01')

[*********************100%%**********************]  2 of 2 completed

Price        Adj Close                  Close                   High  \
Ticker       IVVB11.SA   WEGE3.SA   IVVB11.SA   WEGE3.SA   IVVB11.SA
Date
2023-01-02  227.500000  37.125935  227.500000  38.099998  227.500000
2023-01-03  230.500000  36.200218  230.500000  37.150002  230.500000
2023-01-04  232.000000  36.443829  232.000000  37.400002  232.279999
2023-01-05  224.880005  36.521786  224.880005  37.480000  228.500000
2023-01-06  224.500000  37.057724  224.500000  38.029999  225.000000
...                ...        ...         ...        ...         ...
2023-09-25  239.199997  35.707294  239.199997  36.130001  239.199997
2023-09-26  235.949997  35.657883  235.949997  36.080002  237.539993
2023-09-27  239.149994  35.598579  239.149994  36.020000  239.559998
2023-09-28  239.490005  35.964252  239.490005  36.389999  240.779999
2023-09-29  238.789993  35.845654  238.789993  36.270000  240.500000

Price                         Low                   Open               Volume  \
Ticker       WEGE3.SA   IVVB11.SA   WEGE3.SA   IVVB11.SA   WEGE3.SA IVVB11.SA
Date
2023-01-02  38.500000  224.559998  37.740002  225.529999  38.500000    129945
2023-01-03  38.369999  225.869995  36.889999  227.500000  38.110001    841137
2023-01-04  37.689999  228.610001  36.660000  229.770004  37.330002   1000098
2023-01-05  37.900002  224.000000  37.259998  228.279999  37.590000    669891
2023-01-06  38.270000  222.089996  37.299999  223.360001  37.490002    532125
...               ...         ...        ...         ...        ...       ...
2023-09-25  36.400002  236.199997  35.000000  236.500000  35.200001    308695
2023-09-26  36.220001  235.600006  35.110001  237.300003  35.189999    429551
2023-09-27  36.720001  237.259995  35.759998  237.660004  36.180000    276370
2023-09-28  36.570000  238.880005  35.810001  239.130005  36.099998    503666
2023-09-29  36.709999  237.250000  36.150002  239.529999  36.619999    434346

Price
Ticker      WEGE3.SA
Date
2023-01-02   3017700
2023-01-03   5662900
2023-01-04   6169800
2023-01-05   6660600
2023-01-06   4071700
...              ...
2023-09-25  12727400
2023-09-26   9274100
2023-09-27  10447500
2023-09-28   5738900
2023-09-29   5247900

[188 rows x 12 columns]

In [13]:
yf.download("WEGE3.SA IVVB11.SA VALE3.SA", start = '2023-01-01', end = '2023-10-01', group_by = 'column')

[*********************100%%**********************]  3 of 3 completed

Price        Adj Close                             Close             \
Ticker       IVVB11.SA   VALE3.SA   WEGE3.SA   IVVB11.SA   VALE3.SA
Date
2023-01-02  227.500000  80.482178  37.125935  227.500000  89.400002
2023-01-03  230.500000  80.338127  36.200218  230.500000  89.239998
2023-01-04  232.000000  80.482178  36.443829  232.000000  89.400002
2023-01-05  224.880005  81.832550  36.521786  224.880005  90.900002
2023-01-06  224.500000  83.128906  37.057724  224.500000  92.339996
...                ...        ...        ...         ...        ...
2023-09-25  239.199997  63.121761  35.707294  239.199997  66.599998
2023-09-26  235.949997  62.136074  35.657883  235.949997  65.559998
2023-09-27  239.149994  62.268757  35.598579  239.149994  65.699997
2023-09-28  239.490005  63.216534  35.964252  239.490005  66.699997
2023-09-29  238.789993  64.050583  35.845654  238.789993  67.580002

Price                        High                               Low  \
Ticker       WEGE3.SA   IVVB11.SA   VALE3.SA   WEGE3.SA   IVVB11.SA
Date
2023-01-02  38.099998  227.500000  89.900002  38.500000  224.559998
2023-01-03  37.150002  230.500000  90.089996  38.369999  225.869995
2023-01-04  37.400002  232.279999  89.650002  37.689999  228.610001
2023-01-05  37.480000  228.500000  91.680000  37.900002  224.000000
2023-01-06  38.029999  225.000000  92.739998  38.270000  222.089996
...               ...         ...        ...        ...         ...
2023-09-25  36.130001  239.199997  67.029999  36.400002  236.199997
2023-09-26  36.080002  237.539993  66.260002  36.220001  235.600006
2023-09-27  36.020000  239.559998  66.190002  36.720001  237.259995
2023-09-28  36.389999  240.779999  67.040001  36.570000  238.880005
2023-09-29  36.270000  240.500000  67.650002  36.709999  237.250000

Price                                   Open                          Volume  \
Ticker       VALE3.SA   WEGE3.SA   IVVB11.SA   VALE3.SA   WEGE3.SA IVVB11.SA
Date
2023-01-02  88.529999  37.740002  225.529999  88.680000  38.500000    129945
2023-01-03  88.889999  36.889999  227.500000  89.400002  38.110001    841137
2023-01-04  87.949997  36.660000  229.770004  89.300003  37.330002   1000098
2023-01-05  89.000000  37.259998  228.279999  89.459999  37.590000    669891
2023-01-06  91.000000  37.299999  223.360001  91.000000  37.490002    532125
...               ...        ...         ...        ...        ...       ...
2023-09-25  65.769997  35.000000  236.500000  67.010002  35.200001    308695
2023-09-26  65.370003  35.110001  237.300003  65.699997  35.189999    429551
2023-09-27  65.309998  35.759998  237.660004  66.099998  36.180000    276370
2023-09-28  65.959999  35.810001  239.130005  66.110001  36.099998    503666
2023-09-29  67.040001  36.150002  239.529999  67.309998  36.619999    434346

Price
Ticker      VALE3.SA  WEGE3.SA
Date
2023-01-02  12783800   3017700
2023-01-03  25332600   5662900
2023-01-04  26395300   6169800
2023-01-05  29085600   6660600
2023-01-06  31420600   4071700
...              ...       ...
2023-09-25  34715000  12727400
2023-09-26  24178800   9274100
2023-09-27  17109300  10447500
2023-09-28  26072300   5738900
2023-09-29  19018000   5247900

[188 rows x 18 columns]

In [14]:
yf.download("WEGE3.SA IVVB11.SA VALE3.SA", start = '2023-01-01', end = '2023-10-01', group_by = 'tickers')

[*********************100%%**********************]  3 of 3 completed

Ticker       WEGE3.SA                                                        \
Price            Open       High        Low      Close  Adj Close    Volume
Date
2023-01-02  38.500000  38.500000  37.740002  38.099998  37.125935   3017700
2023-01-03  38.110001  38.369999  36.889999  37.150002  36.200218   5662900
2023-01-04  37.330002  37.689999  36.660000  37.400002  36.443829   6169800
2023-01-05  37.590000  37.900002  37.259998  37.480000  36.521786   6660600
2023-01-06  37.490002  38.270000  37.299999  38.029999  37.057724   4071700
...               ...        ...        ...        ...        ...       ...
2023-09-25  35.200001  36.400002  35.000000  36.130001  35.707294  12727400
2023-09-26  35.189999  36.220001  35.110001  36.080002  35.657883   9274100
2023-09-27  36.180000  36.720001  35.759998  36.020000  35.598579  10447500
2023-09-28  36.099998  36.570000  35.810001  36.389999  35.964252   5738900
2023-09-29  36.619999  36.709999  36.150002  36.270000  35.845654   5247900

Ticker       IVVB11.SA                                                  \
Price             Open        High         Low       Close   Adj Close
Date
2023-01-02  225.529999  227.500000  224.559998  227.500000  227.500000
2023-01-03  227.500000  230.500000  225.869995  230.500000  230.500000
2023-01-04  229.770004  232.279999  228.610001  232.000000  232.000000
2023-01-05  228.279999  228.500000  224.000000  224.880005  224.880005
2023-01-06  223.360001  225.000000  222.089996  224.500000  224.500000
...                ...         ...         ...         ...         ...
2023-09-25  236.500000  239.199997  236.199997  239.199997  239.199997
2023-09-26  237.300003  237.539993  235.600006  235.949997  235.949997
2023-09-27  237.660004  239.559998  237.259995  239.149994  239.149994
2023-09-28  239.130005  240.779999  238.880005  239.490005  239.490005
2023-09-29  239.529999  240.500000  237.250000  238.789993  238.789993

Ticker                VALE3.SA                                              \
Price        Volume       Open       High        Low      Close  Adj Close
Date
2023-01-02   129945  88.680000  89.900002  88.529999  89.400002  80.482178
2023-01-03   841137  89.400002  90.089996  88.889999  89.239998  80.338127
2023-01-04  1000098  89.300003  89.650002  87.949997  89.400002  80.482178
2023-01-05   669891  89.459999  91.680000  89.000000  90.900002  81.832550
2023-01-06   532125  91.000000  92.739998  91.000000  92.339996  83.128906
...             ...        ...        ...        ...        ...        ...
2023-09-25   308695  67.010002  67.029999  65.769997  66.599998  63.121761
2023-09-26   429551  65.699997  66.260002  65.370003  65.559998  62.136074
2023-09-27   276370  66.099998  66.190002  65.309998  65.699997  62.268757
2023-09-28   503666  66.110001  67.040001  65.959999  66.699997  63.216534
2023-09-29   434346  67.309998  67.650002  67.040001  67.580002  64.050583

Ticker
Price         Volume
Date
2023-01-02  12783800
2023-01-03  25332600
2023-01-04  26395300
2023-01-05  29085600
2023-01-06  31420600
...              ...
2023-09-25  34715000
2023-09-26  24178800
2023-09-27  17109300
2023-09-28  26072300
2023-09-29  19018000

[188 rows x 18 columns]

# **Dados fundamentalistas**

In [15]:
petro.info

{'address1': 'Avenida Henrique Valadares, 28',
 'address2': '19th floor',
 'city': 'Rio de Janeiro',
 'state': 'RJ',
 'zip': '20241-030',
 'country': 'Brazil',
 'website': 'https://petrobras.com.br',
 'industry': 'Oil & Gas Integrated',
 'industryKey': 'oil-gas-integrated',
 'industryDisp': 'Oil & Gas Integrated',
 'sector': 'Energy',
 'sectorKey': 'energy',
 'sectorDisp': 'Energy',
 'longBusinessSummary': 'Petróleo Brasileiro S.A. - Petrobras explores, produces, and sells oil and gas in Brazil and internationally. The company operates through three segments: Exploration and Production; Refining, Transportation and Marketing; and Gas and Power. The Exploration and Production segment explores, develops, and produces crude oil, natural gas liquids, and natural gas primarily for supplies to the domestic refineries. The Refining, Transportation and Marketing segment engages in the refining, logistics, transport, acquisition, and exports of crude oil; and production of fertilizers, as well as holding interests in petrochemical companies. The Gas and Power segment is involved in the logistic and trading of natural gas and electricity; transportation and trading of LNG; generation of electricity through thermoelectric power plants; renewable energy businesses; low carbon services; and natural gas processing business, as well as production of biodiesel and its co-products. The company also engages in prospecting, drilling, refining, processing, trading, and transporting crude oil from producing onshore and offshore oil fields, and shale or other rocks, as well as oil products, natural gas, and other liquid hydrocarbons. In addition, it engages in research, development, production, transport, distribution, and trading of energy. Petróleo Brasileiro S.A. - Petrobras was incorporated in 1953 and is headquartered in Rio de Janeiro, Brazil.',
 'fullTimeEmployees': 46730,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Jean Paul Terra Prates',
   'age': 55,
   'title': 'CEO, Member of Executive Board & Director',
   'yearBorn': 1968,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sergio Caetano Leite',
   'age': 53,
   'title': 'Chief Financial & Investor Relations Officer and Member of Executive Board',
   'yearBorn': 1970,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Mario Vinicius Claussen Spinelli',
   'age': 52,
   'title': 'Chief Governance & Compliance Officer and Member of Executive Board',
   'yearBorn': 1971,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Joelson Falcao Mendes',
   'age': 59,
   'title': 'Chief Exploration & Production Officer and Member of Executive Board',
   'yearBorn': 1964,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Carlos Jose do Nascimento Travassos',
   'age': 55,
   'title': 'Chief Engineering, Technology & Innovation Officer and Member of Executive Board',
   'yearBorn': 1968,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Claudio Romeo Schlosser',
   'age': 59,
   'title': 'Chief Logistics, Commercialization & Markets Officer and Member of Executive Board',
   'yearBorn': 1964,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. William Franca da Silva',
   'age': 63,
   'title': 'Chief Industrial Processes & Products Officer and Member of Executive Board',
   'yearBorn': 1960,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Clarice  Coppetti',
   'age': 59,
   'title': 'Chief Corporate Affairs Officer & Member of Executive Board',
   'yearBorn': 1964,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Mauricio Tiomno Tolmasquim',
   'age': 65,
   'title': 'Chief Energy Transition & Sustainability Officer and Member of Executive Board',
   'yearBorn': 1958,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Hélio Siqueira Júnior',
   'title': 'Acting General Counsel',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 4,
 'boardRisk': 5,
 'compensationRisk': 1,
 'shareHolderRightsRisk': 8,
 'overallRisk': 2,
 'governanceEpochDate': 1711929600,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 39.85,
 'regularMarketPreviousClose': 39.85,
 'dividendRate': 5.51,
 'dividendYield': 0.136,
 'exDividendDate': 1714089600,
 'payoutRatio': 0.79230005,
 'fiveYearAvgDividendYield': 17.64,
 'beta': 1.005,
 'trailingPE': 4.372168,
 'forwardPE': 4.960832,
 'averageVolume': 46212418,
 'averageVolume10days': 43284640,
 'averageDailyVolume10Day': 43284640,
 'bid': 40.5,
 'ask': 40.77,
 'marketCap': 539511029760,
 'fiftyTwoWeekHigh': 42.94,
 'priceToSalesTrailing12Months': 1.0537448,
 'fiftyDayAverage': 39.1174,
 'twoHundredDayAverage': 35.98415,
 'trailingAnnualDividendRate': 6.268,
 'trailingAnnualDividendYield': 0.15728985,
 'currency': 'BRL',
 'enterpriseValue': 754161745920,
 'profitMargins': 0.24337,
 'floatShares': 8002310284,
 'sharesOutstanding': 5467060224,
 'heldPercentInsiders': 0.1608,
 'heldPercentInstitutions': 0.35035,
 'impliedSharesOutstanding': 13311399936,
 'bookValue': 29.4,
 'priceToBook': 1.3785714,
 'lastFiscalYearEnd': 1703980800,
 'nextFiscalYearEnd': 1735603200,
 'mostRecentQuarter': 1703980800,
 'earningsQuarterlyGrowth': -0.284,
 'netIncomeToCommon': 124605997056,
 'trailingEps': 9.27,
 'forwardEps': 8.17,
 'pegRatio': -0.69,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1209340800,
 'enterpriseToRevenue': 1.473,
 'enterpriseToEbitda': 3.063,
 '52WeekChange': 0.49007356,
 'SandP52WeekChange': 0.2006725,
 'lastDividendValue': 1.098948,
 'lastDividendDate': 1714089600,
 'exchange': 'SAO',
 'quoteType': 'EQUITY',
 'symbol': 'PETR4.SA',
 'underlyingSymbol': 'PETR4.SA',
 'shortName': 'PETROBRAS   PN      N2',
 'longName': 'Petróleo Brasileiro S.A. - Petrobras',
 'firstTradeDateEpochUtc': 946900800,
 'timeZoneFullName': 'America/Sao_Paulo',
 'timeZoneShortName': 'BRT',
 'uuid': 'f698f172-aeef-3c5e-887d-d45f94bdd057',
 'messageBoardId': 'finmb_409268',
 'gmtOffSetMilliseconds': -10800000,
 'currentPrice': 40.53,
 'targetHighPrice': 49.0,
 'targetLowPrice': 26.0,
 'targetMeanPrice': 40.81,
 'targetMedianPrice': 43.0,
 'recommendationMean': 2.4,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 11,
 'totalCash': 75263000576,
 'totalCashPerShare': 5.816,
 'ebitda': 246184001536,
 'totalDebt': 303061991424,
 'quickRatio': 0.675,
 'currentRatio': 0.958,
 'totalRevenue': 511994003456,
 'debtToEquity': 79.265,
 'revenuePerShare': 39.317,
 'returnOnAssets': 0.12573,
 'returnOnEquity': 0.33523998,
 'freeCashflow': 145478746112,
 'operatingCashflow': 215695998976,
 'earningsGrowth': -0.279,
 'revenueGrowth': -0.153,
 'grossMargins': 0.52722,
 'ebitdaMargins': 0.48083,
 'operatingMargins': 0.37592998,
 'financialCurrency': 'BRL',
 'trailingPegRatio': None}

In [16]:
petro.info['industry']

'Oil & Gas Integrated'

In [17]:
petro.info['dividendRate']

5.51

In [18]:
petro.info['fullTimeEmployees']

46730

In [19]:
petro.info['marketCap']

539511029760

Financials

In [20]:
petro.financials

,2023-12-31,2022-12-31,2021-12-31,2020-12-31
Tax Effect Of Unusual Items,-1035346499.694881,3479130361.513312,-1371427189.243578,-22592462460.0
Tax Rate For Calcs,0.293847,0.313312,0.291904,0.34
Normalized EBITDA,257326370400.0,359327161200.0,254918168000.0,154779429000.0
Total Unusual Items,-3523423200.0,11104380000.0,-4698207600.0,-66448419000.0
Total Unusual Items Excluding Goodwill,-3523423200.0,11104380000.0,-4698207600.0,-66448419000.0
...,...,...,...,...
Salaries And Wages,17214300400.0,14039109000.0,16630428800.0,525099000.0
Gross Profit,261946616800.0,343643546400.0,227397706400.0,127313112000.0
Cost Of Revenue,235064742000.0,314550070800.0,240561604800.0,151784805000.0
Total Revenue,497011358800.0,658193617200.0,467959311200.0,279097917000.0
Operating Revenue,497011358800.0,658193617200.0,467959311200.0,279097917000.0

In [21]:
petro.quarterly_financials

,2023-12-31,2023-09-30,2023-06-30,2023-03-31
Tax Effect Of Unusual Items,858560340.438598,-2606652806.092681,369463265.726141,126995661.79099
Tax Rate For Calcs,0.228135,0.292113,0.305394,0.327923
Normalized EBITDA,52289824600.0,70657309800.0,58814852400.0,74672387800.0
Total Unusual Items,3763379400.0,-8923437600.0,1209791400.0,387273200.0
Total Unusual Items Excluding Goodwill,3763379400.0,-8923437600.0,1209791400.0,387273200.0
Net Income From Continuing Operation Net Minority Interest,26975253800.0,27475324800.0,28315920800.0,37407533700.0
Reconciled Depreciation,16958953200.0,17499405000.0,15092311000.0,14899826800.0
Reconciled Cost Of Revenue,37675378200.0,43801388400.0,40917629800.0,50498387000.0
EBITDA,56053204000.0,61733872200.0,60024643800.0,75059661000.0
EBIT,39094250800.0,44234467200.0,44932332800.0,60159834200.0
Net Interest Income,-3934733000.0,-5121408600.0,-3770273600.0,-3628138400.0
Interest Expense,4022282000.0,5222124600.0,3950041800.0,4280388000.0
Interest Income,NaN,735226800.0,NaN,NaN
Normalized Income,24070434740.438599,33792109593.907318,27475592665.726143,37147256161.790993
Net Income From Continuing And Discontinued Operation,26975253800.0,27475324800.0,28315920800.0,37407533700.0
Total Expenses,87372661200.0,74313300600.0,67330478800.0,76231672000.0
Rent Expense Supplemental,570187200.0,463293600.0,544163200.0,519761400.0
Total Operating Income As Reported,NaN,50257284000.0,NaN,11553000000.0
Diluted Average Shares,NaN,13015465561.0,13044201261.0,13044201261.0
Basic Average Shares,NaN,13015465561.0,13044201261.0,13044201261.0
Diluted EPS,NaN,2.110975,2.18637,2.853592
Basic EPS,NaN,2.110975,2.18637,2.853592
Diluted NI Availto Com Stockholders,26975253800.0,27475324800.0,28315920800.0,37407533700.0
Net Income Common Stockholders,26975253800.0,27475324800.0,28315920800.0,37407533700.0
Net Income,26975253800.0,27475324800.0,28315920800.0,37407533700.0
Minority Interests,-95554800.0,-141002400.0,-150616600.0,-147775300.0
Net Income Including Noncontrolling Interests,27070808600.0,27616327200.0,28466537400.0,37555309000.0
Net Income Continuous Operations,27070808600.0,27616327200.0,28466537400.0,37555309000.0
Tax Provision,8001160200.0,11396015400.0,12515753600.0,18324137200.0
Pretax Income,35071968800.0,39012342600.0,40982291000.0,55879446200.0
Other Income Expense,8573815800.0,-10227709800.0,437274000.0,-677728100.0
Other Non Operating Income Expenses,5102396200.0,-55393800.0,-665628200.0,-1243350800.0
Special Income Charges,-1091666400.0,-3600597000.0,-2409865600.0,-473900100.0
Gain On Sale Of Ppe,493724000.0,-186324600.0,3357292600.0,2527467200.0
Other Special Charges,-7615621200.0,3021480000.0,3818859600.0,2986080200.0
Write Off,NaN,-1000000.0,NaN,15287100.0
Impairment Of Capital Assets,NaN,392792400.0,1948298600.0,3000000.0
Earnings From Equity Interest,-291959800.0,-1248878400.0,-106889200.0,178349500.0
Gain On Sale Of Security,4855045800.0,-5322840600.0,3619657000.0,861173300.0
Net Non Operating Interest Income Expense,-3934733000.0,-5121408600.0,-3770273600.0,-3628138400.0
Total Other Finance Cost,-1950795000.0,634510800.0,-179768200.0,-652249600.0
Interest Expense Non Operating,4022282000.0,5222124600.0,3950041800.0,4280388000.0
Interest Income Non Operating,NaN,735226800.0,NaN,NaN
Operating Income,30432886000.0,54361461000.0,44315290600.0,60185312700.0
Operating Expense,33506074800.0,13974345000.0,12224237600.0,11730301400.0
Other Operating Expenses,6323101400.0,2271145800.0,636476600.0,275167800.0
Other Taxes,1081328600.0,574081200.0,1598479400.0,1019140000.0
Provision For Doubtful Accounts,36269200.0,-15107400.0,-19434400.0,107009700.0
Depreciation Amortization Depletion Income Statement,767745000.0,961837800.0,903699600.0,896843200.0
Research And Development,945093600.0,936658800.0,835679200.0,784737800.0
Selling General And Administration,13651231000.0,9245728800.0,8269337200.0,8647402900.0
Selling And Marketing Expense,4986577200.0,5549451600.0,4965489200.0,5228188200.0
General And Administrative Expense,8664653800.0,3696277200.0,3303848000.0,3419214700.0
Other Gand A,NaN,92000000.0,112000000.0,102000000.0
Rent And Landing Fees,570187200.0,463293600.0,544163200.0,519761400.0
Salaries And Wages,8094466600.0,3232983600.0,2759684800.0,2899453300.0
Gross Profit,63938960800.0,68335806000.0,56539528200.0,71915614100.0
Cost Of Revenue,53866586400.0,60338955600.0,55106241200.0,64501370600.0
Total Revenue,117805547200.0,128674761600.0,111645769400.0,136416984700.0
Operating Revenue,117805547200.0,128674761600.0,111645769400.0,136416984700.0

In [22]:
petro.major_holders

YFinanceDataException: Failed to parse holders json data.

In [ ]:
petro.institutional_holders

Balance Sheet

In [ ]:
petro.balance_sheet

,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Treasury Shares Number,295669.0,295669.0,295669.0,295669.0
Preferred Shares Number,NaN,5601969879.0,NaN,NaN
Ordinary Shares Number,13044201261.0,13044201261.0,13044201261.0,13044201261.0
Share Issued,13044496930.0,13044496930.0,13044496930.0,13044496930.0
Net Debt,21958000000.0,25233000000.0,42177000000.0,55888000000.0
...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,10769000000.0,11117000000.0,12370000000.0,8260000000.0
Other Short Term Investments,2773000000.0,650000000.0,659000000.0,888000000.0
Cash And Cash Equivalents,7996000000.0,10467000000.0,11711000000.0,7372000000.0
Cash Equivalents,7780000000.0,10168000000.0,11159000000.0,6800000000.0
Cash Financial,216000000.0,299000000.0,552000000.0,572000000.0

In [ ]:
petro.quarterly_balance_sheet

,2023-06-30,2023-03-31,2022-12-31,2022-09-30
Treasury Shares Number,295669.0,295669.0,295669.0,295669.0
Ordinary Shares Number,13044201261.0,13044201261.0,13044201261.0,13044201261.0
Share Issued,13044201261.0,13044496930.0,13044496930.0,13044496930.0
Net Debt,18877000000.0,19546000000.0,21958000000.0,26481000000.0
Total Debt,57971000000.0,53349000000.0,53799000000.0,54268000000.0
...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,12655000000.0,13169000000.0,10769000000.0,6785000000.0
Other Short Term Investments,2304000000.0,2879000000.0,2773000000.0,2411000000.0
Cash And Cash Equivalents,10351000000.0,10290000000.0,7996000000.0,4374000000.0
Cash Equivalents,10239000000.0,10155000000.0,7780000000.0,4215000000.0
Cash Financial,112000000.0,135000000.0,216000000.0,159000000.0

Cashflow

In [ ]:
petro.cashflow

,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Free Cash Flow,40136000000.0,31466000000.0,23016000000.0,1703000000.0
Repayment Of Debt,-14764000000.0,-27240000000.0,-31607000000.0,-32480000000.0
Issuance Of Debt,2880000000.0,1885000000.0,17023000000.0,7464000000.0
Capital Expenditure,-9581000000.0,-6325000000.0,-5874000000.0,-23897000000.0
End Cash Position,7996000000.0,10480000000.0,11725000000.0,7377000000.0
...,...,...,...,...
Operating Gains Losses,4390000000.0,9386000000.0,10296000000.0,4381000000.0
Pension And Employee Benefit Expense,1228000000.0,2098000000.0,-1001000000.0,2086000000.0
Earnings Losses From Equity Investments,-251000000.0,-1607000000.0,659000000.0,-153000000.0
Net Foreign Currency Exchange Gain Loss,4557000000.0,10795000000.0,11094000000.0,8460000000.0
Net Income From Continuing Operations,36755000000.0,19986000000.0,948000000.0,10363000000.0

In [ ]:
petro.quarterly_cashflow

,2023-06-30,2023-03-31,2022-12-31,2022-09-30
Free Cash Flow,6730000000.0,7924000000.0,9287000000.0,10118000000.0
Repayment Of Debt,-2205000000.0,-2139000000.0,-2962000000.0,-3643000000.0
Issuance Of Debt,11000000.0,51000000.0,350000000.0,2200000000.0
Capital Expenditure,-2912000000.0,-2423000000.0,-3561000000.0,-1947000000.0
End Cash Position,10351000000.0,10290000000.0,7996000000.0,4374000000.0
Beginning Cash Position,10290000000.0,7996000000.0,4374000000.0,16294000000.0
Effect Of Exchange Rate Changes,22000000.0,24000000.0,166000000.0,-108000000.0
Changes In Cash,39000000.0,2270000000.0,3456000000.0,-11812000000.0
Financing Cash Flow,-8808000000.0,-6973000000.0,-7047000000.0,-23157000000.0
Cash Flow From Continuing Financing Activities,-8808000000.0,-6973000000.0,-7047000000.0,-23157000000.0
Net Other Financing Charges,25000000.0,-123000000.0,7000000.0,50000000.0
Interest Paid Cff,-434000000.0,-570000000.0,-412000000.0,-522000000.0
Cash Dividends Paid,-6205000000.0,-4192000000.0,-4030000000.0,-21242000000.0
Common Stock Dividend Paid,-6205000000.0,-4192000000.0,NaN,NaN
Net Issuance Payments Of Debt,-2194000000.0,-2088000000.0,-2612000000.0,-1443000000.0
Net Long Term Debt Issuance,-2194000000.0,-2088000000.0,-2612000000.0,-1443000000.0
Long Term Debt Payments,-2205000000.0,-2139000000.0,-2962000000.0,-3643000000.0
Long Term Debt Issuance,11000000.0,51000000.0,350000000.0,2200000000.0
Investing Cash Flow,-795000000.0,-1104000000.0,-2345000000.0,-720000000.0
Cash Flow From Continuing Investing Activities,-795000000.0,-1104000000.0,-2345000000.0,-720000000.0
Net Other Investing Changes,1606000000.0,2246000000.0,2881000000.0,658000000.0
Dividends Received Cfi,58000000.0,11000000.0,55000000.0,77000000.0
Net Investment Purchase And Sale,462000000.0,-930000000.0,-1713000000.0,493000000.0
Purchase Of Investment,462000000.0,-930000000.0,NaN,NaN
Net Business Purchase And Sale,-9000000.0,-8000000.0,-7000000.0,-1000000.0
Purchase Of Business,-9000000.0,-8000000.0,-7000000.0,-1000000.0
Net PPE Purchase And Sale,-2912000000.0,-2423000000.0,-3561000000.0,-1947000000.0
Purchase Of PPE,-2912000000.0,-2423000000.0,-3561000000.0,-1947000000.0
Operating Cash Flow,9642000000.0,10347000000.0,12848000000.0,12065000000.0
Cash Flow From Continuing Operating Activities,9642000000.0,10347000000.0,12848000000.0,12065000000.0
Taxes Refund Paid,-2022000000.0,-4280000000.0,-2715000000.0,-3699000000.0
Change In Working Capital,-779000000.0,-80000000.0,-118000000.0,520000000.0
Change In Other Working Capital,-1210000000.0,-796000000.0,-1063000000.0,-1127000000.0
Change In Other Current Liabilities,-27000000.0,-101000000.0,-338000000.0,-384000000.0
Change In Other Current Assets,164000000.0,111000000.0,343000000.0,-104000000.0
Change In Payables And Accrued Expense,-560000000.0,-695000000.0,-64000000.0,2024000000.0
Change In Payable,-560000000.0,-695000000.0,-64000000.0,2024000000.0
Change In Account Payable,187000000.0,-478000000.0,-18000000.0,-200000000.0
Change In Tax Payable,-747000000.0,-217000000.0,-46000000.0,2224000000.0
Change In Income Tax Payable,-747000000.0,-217000000.0,-46000000.0,2224000000.0
Change In Inventory,91000000.0,989000000.0,1378000000.0,-561000000.0
Change In Receivables,763000000.0,412000000.0,-374000000.0,672000000.0
Other Non Cash Items,417000000.0,271000000.0,-633000000.0,803000000.0
Provisionand Write Offof Assets,10000000.0,24000000.0,23000000.0,3000000.0
Asset Impairment Charge,421000000.0,27000000.0,1460000000.0,293000000.0
Deferred Tax,2576000000.0,3596000000.0,3007000000.0,253000000.0
Deferred Income Tax,2576000000.0,3596000000.0,3007000000.0,253000000.0
Depreciation Amortization Depletion,3249000000.0,2924000000.0,3321000000.0,3267000000.0
Operating Gains Losses,-89000000.0,495000000.0,227000000.0,1835000000.0
Pension And Employee Benefit Expense,389000000.0,370000000.0,289000000.0,306000000.0
Earnings Losses From Equity Investments,22000000.0,-35000000.0,122000000.0,-32000000.0
Net Foreign Currency Exchange Gain Loss,191000000.0,656000000.0,-178000000.0,1853000000.0
Net Income From Continuing Operations,5859000000.0,7370000000.0,8276000000.0,8790000000.0